/* CSS untuk animasi loading */
@keyframes square-animation {
    0% {
     left: 0;
     top: 0;
    }
   
    10.5% {
     left: 0;
     top: 0;
    }
   
    12.5% {
     left: 32px;
     top: 0;
    }
   
    23% {
     left: 32px;
     top: 0;
    }
   
    25% {
     left: 64px;
     top: 0;
    }
   
    35.5% {
     left: 64px;
     top: 0;
    }
   
    37.5% {
     left: 64px;
     top: 32px;
    }
   
    48% {
     left: 64px;
     top: 32px;
    }
   
    50% {
     left: 32px;
     top: 32px;
    }
   
    60.5% {
     left: 32px;
     top: 32px;
    }
   
    62.5% {
     left: 32px;
     top: 64px;
    }
   
    73% {
     left: 32px;
     top: 64px;
    }
   
    75% {
     left: 0;
     top: 64px;
    }
   
    85.5% {
     left: 0;
     top: 64px;
    }
   
    87.5% {
     left: 0;
     top: 32px;
    }
   
    98% {
     left: 0;
     top: 32px;
    }
   
    100% {
     left: 0;
     top: 0;
    }
   }
   
   .loading {
    position: fixed;
    width: 96px;
    height: 96px;
   transform: rotate(45deg);
   margin-right: 700px;
   display: none;
   }
   
   .loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
   }
   
   .loader-square:nth-of-type(0) {
    animation-delay: 0s;
   }
   
   .loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
   }
   
   .loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
   }
   
   .loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
   }
   
   .loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
   }
   
   .loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
   }
   
   .loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
   }
   
   .loader-square:nth-of-type(7) {
    animation-delay: -10s;
   }
body {
    font-family: 'Montserrat', sans-serif; /* Menggunakan font Montserrat */
    background-image: url('foto/cartoonchangepassword.jpg'); /* Ganti 'nama_gambar.jpg' dengan URL gambar yang kamu inginkan */
    background-size: cover; /* Memastikan gambar latar belakang mengisi seluruh area body */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0.95; /* Menambahkan transparansi pada latar belakang */
    transition: opacity 0.3s;
    backdrop-filter: blur(5px); /* Menambahkan efek blur pada latar belakang */
}

.container {
    background-color: #ffffff23;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 2px 5px 20px 5px rgba(0, 0, 0, 0.692);
    width: 100%;
    max-width: 440px;
    box-sizing: border-box;
    position: relative;
    backdrop-filter: blur(10px);
    right: -100px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    color: #555;
    margin-bottom: -15px;
}

input[type="text"],
input[type="password"] {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 20em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: text;
    height: 20px;
}
input[type="text"]:focus,
input[type="password"] input:focus {
    outline-color: lightcoral;
}

button[type="submit"] {
    all: unset;
    display: flex;
    align-items: center;
    position: absolute;
    right: -250px;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px 30px;
    border: rgb(255, 255, 255) solid 0.15em;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms, transform 500ms;
    user-select: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.76);
    font-family: 'Arial', sans-serif;
    z-index: 50;
}

button[type="submit"] p {
    z-index: 50;
}

button[type="submit"]:hover {
    color: #ffffff;
    box-shadow: 2px 5px 20px 5px rgb(255, 66, 98) inset;
    transition: box-shadow 3s ease;
}

button[type="submit"]:active {
    border-color: rgb(128, 0, 79);
}

button[type="submit"]::after, button[type="submit"]::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: pink;
    opacity: 50%;
    border-radius: 50%;
    z-index: 10;
    transition: transform 500ms, background 300ms;
}

button[type="submit"]::before {
    left: 0;
    transform: translateX(-8em);
}

button[type="submit"]::after {
    right: 0;
    transform: translateX(8em);
}

button[type="submit"]:hover::before {
    transform: translateX(-1em);
    color: white;
}

button[type="submit"]:hover::after {
    transform: translateX(-10em);
    color: white;
}

button[type="submit"]:active::before,
button[type="submit"]:active::after {
    background: rgb(255, 255, 255);
}


.success {
    color: green;
    padding: 10px;
    background-color: #ddffdd;
    border: 1px solid green;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.error {
    color: red;
    padding: 10px;
    background-color: #ffdddd;
    border: 1px solid red;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    display: block;
    text-align: center;
    margin-top: 5px;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: bold;
}

a:hover {
    color:pink;
}