body {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('foto/cartoon4.jpg'); /* Ganti dengan path foto background */
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    overflow: hidden;
}
h2 {
    color: #ffffff;
    text-align: center;
    font-family: 'montserrat';
    font-size: 44px;
    margin-bottom: 200px;
    font-weight: bold;
}

form {
    background-color: rgba(255, 255, 255, 0.301); /* Container transparan */
    backdrop-filter: blur(10px); /* Efek blur */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.61); /* Shadow untuk efek realistis */
    max-width: 400px;
    width: 100%;
    margin-bottom: 100px;
    font-family: 'montserrat';
    margin-left: 50px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff; /* Warna label */
    font-weight: bold;
}

input[type="email"] {
    width: calc(100% - 22px); /* minus padding and border */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-family: 'montserrat';
    font-size: 16px;
}

button {
    background-color: #ffa257; /* Warna pink */
    color: rgb(243, 255, 178);
    border: 2px solid rgb(255, 255, 255);
    padding: 12px 24px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'montserrat';
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff4584; /* Warna pink lebih gelap saat hover */
    box-shadow: 0 0 15px #f81fff, 0 0 50px #72ecff, 0 0 100px #ff4391; /* Shadow dengan efek neon */
    transform: translateY(-2px); /* Geser tombol sedikit ke atas saat di-hover */
    transition: transform 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}

.loader {
    --dim: 3rem;
    width: var(--dim);
    height: var(--dim);
    position: relative;
    animation: spin988 2s linear infinite;
    display: none;
    left: 300px;
  }
  
  .loader .circle {
    --color: #fffafa;
    --dim: 1.2rem;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
  }
  
  .loader .circle:nth-child(1) {
    top: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(2) {
    top: 0;
    right: 0;
  }
  
  .loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
  }
  
  @keyframes spin988 {
    0% {
      transform: scale(1) rotate(0);
    }
  
    20%, 25% {
      transform: scale(1.3) rotate(90deg);
    }
  
    45%, 50% {
      transform: scale(1) rotate(180deg);
    }
  
    70%, 75% {
      transform: scale(1.3) rotate(270deg);
    }
  
    95%, 100% {
      transform: scale(1) rotate(360deg);
    }
  }
::-webkit-scrollbar {
    width: 5px; /* Lebar scroll bar */
}

/* Untuk scroll bar horizontal */
::-webkit-scrollbar {
    height: 3px; /* Tinggi scroll bar */
}

/* Penyesuaian warna dan gaya scroll bar (opsional) */
::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Warna scroll bar */
    border-radius: 5px; /* Bentuk border scroll bar */
}
