/* CSS (styles.css) */
body {
    font-family: 'Montserrat', sans-serif; /* Menggunakan font Montserrat */
    background-image: url('Picsart_24-05-18_13-20-58-369.jpg'); /* Ganti 'nama_gambar.jpg' dengan URL gambar yang kamu inginkan */
    background-size: cover; /* Memastikan gambar latar belakang mengisi seluruh area body */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0.9; /* Menambahkan transparansi pada latar belakang */
}
.login-container {
    border-radius: 20px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.308); /* Memberikan warna latar belakang transparan */
    backdrop-filter: blur(100px); /* Menambahkan efek blur pada latar belakang */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Efek bayangan */
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    color: #000;
    font-size: 28px;
    font-weight: bold;
}

.input-group {
    margin-bottom: 40px; /* Menambah jarak antara kotak input */
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #f8f8f8;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

.input-group input:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px 0 rgba(0, 123, 255, 0.5);
}

.input-group label {
    position: absolute;
    top: 20px;
    left: 10px;
    transform: translateY(-50%);
    color: #ccc;
    transition: top 0.3s, font-size 0.3s, color 0.3s, transform 0.3s;
    font-size: 14px;
}

.input-group label.active {
    top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    transform: translateY(-150%);
}

button {
    background-color: #fff;
    color: #007bff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #e6e6e6;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(1px);
}
